<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 학생회 대여/반납 시스템 </title>
  </head>
  <body>
    <form name="frm1">
    password : <input type="password" maxLength="20" name = "password">
    <input type = "button" value = "로그인" onclick = "pwCheck()">
  </form>

  <script>
    function pwCheck()
    {
      if(document.frm1.password.value == "sbdh8129")
      {
        location.href = "http:login/db";
      }
      else {
        alert("다시 입력하여 주세요.")
      }
    }

  </script>


  </body>
</html>
