<!DOCTYPE html>
<html>
  <head>
    <title> 대여 명단 입력 </title>
  </head>
  <body>
    <p> 대여자 정보 입력
      <form action = "/login/rent.html/result" method = "post"> </br>
        대여자 : <input type="text" maxLength="20" name = "rent_person"> </br>
        대여물품 : <input type="text" maxLength="20" name = "rent_name"> </br>
        대여물품번호 : <input type="text" maxLength="20" name = "rent_num"> </br>
        대여담당 : <input type="text" maxLength="20" name = "rent_sa"> </br>
        대여일자 : <input type="text" maxLength="20" name = "rent_year,rent_month,rent_day"> </br>
        <input type = "submit" onclick = "location.href='http:/login/rent.html/result'" name = "form" value = "Submit" />
        <input type = "reset" value = "reset"/> <br>
      </form>
    </p>






  </body>
</html>
