<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> 학생회 대여 물품 목록 </title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  </head>
  <body>
      <h1><strong> {{name}} </strong></h1>

      <input type="button" onclick="location.href='http:login'" value="대여/반납" style="font-family:휴먼편지체; background-color:skyblue; color:#ffffff"/>

      <ul>
          <script>
            var str = '{{ product_list|tojson|safe }}';
            str = str.replace(/&#34;/g, '"');

              console.log(str);

          //  console.log(JSON.parse(str));
          $(document).ready(function () {
            $.getJSON(str,
            function () {
              var tr;
              for(var i=0;i<str.length;i++) {
                tr = $("<tr></tr>");
                tr.append('<td>' + str[i].data[rent_num] + '</td>');
                tr.append('<td>' + str[i].data[rent_name] + '</td>');
                tr.append('<td>' + str[i].data[rent_possible] + '</td>');
                tr.append('<td>' + str[i].data[rent_year] + '</td>');
                tr.append('<td>' + str[i].data[rent_month] + '</td>');
                tr.append('<td>' + str[i].data[rent_day] + '</td>');
                $('table').append(tr);
              }
            });
          });
            document.write(str);

          </script>
      </ul>




  </body>
</html>
